#additional_features {
    margin-bottom:2rem;
}

.fixture {
    display:table;
    width:50%;
}

.homeTeam, .score, .awayTeam {
    display:table-cell;
    width:33%;
}

.winner {
  font-weight:bold;
}

@media only screen
 and (min-device-width:320px)
 and (max-device-width:480px)
 and (orientation: portrait) {

     .fixture {
         width:100%;
     }

     .container-fluid {
         font-size:.9rem;
     }
}
