<div class='container-fluid'>
  <div class="spinner-container">
    <mat-progress-spinner class="center-positioning" mode="indeterminate" *ngIf="!this.results"></mat-progress-spinner>
  </div>
  <div *ngIf="this.results">
      <div *ngFor="let competition of this.results">
          <div class="d-flex flex-column col-12 col-md-6 offset-md-3" >
              <span class="btn btn-{{competition.country_id}} text-{{competition.country_id}}" routerLink="../../competition/{{competition.id}}">{{competition.caption}}</span>
          </div>
      </div>
  </div>
</div>
