
.side-content {
  background-color:green;
  height:100%;
}

.container {
  height:100%;
}

.toolbar-title {
  margin-left:2rem;
}

.mat-list-item {
    margin-bottom:2rem;
}

mat-sidenav {
    top:56px; /* TODO : find a better solution */
}

a {
  color:white;
}

#img_sidenav {
  vertical-align:middle;
}

#btn_sidenav {
  border:none;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-toolbar {
    position:fixed;
    z-index:2;
}

.side-container {
    flex:1;
}

.side-container .is-mobile {
    flex: 1 0 auto;
}
