
<div class="main-container">

  <mat-toolbar color="accent" class="example-toolbar">
  <button mat-icon-button (click)="sideNav.toggle()" id="btn_sidenav">
    <mat-icon id="img_sidenav">menu</mat-icon>
  </button>
  <h1 class="text-center">
      {{title}}
  </h1>
</mat-toolbar>

<mat-sidenav-container class="side-container">
    <mat-sidenav #sideNav mode="side" [(opened)]="opened" class="side-content">
      <p><a routerLink="/">Accueil</a></p>
      <p><a routerLink="/competitions" class="link">Toutes les compétitions</a></p>
      <p><a routerLink="/countries">Compétitions par pays</a></p>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>





</div>
