<div class="container-fluid">
  <div class="spinner-container">
    <mat-progress-spinner class="center-positioning spinner" color="blue" mode="indeterminate" *ngIf="!this.competitions"></mat-progress-spinner>
  </div>
    <div class="d-flex flex-column col-12 col-md-6 offset-md-3" id="container-competitions" *ngIf="this.competitions">

        <span *ngFor="let competition of this.competitions" routerLink="/competition/{{competition.id}}" class="btn btn-competition btn-{{competition.country_id}} text-{{competition.country_id}}">{{competition.caption}}</span>
    </div>

</div>
