.btn-competition {
    margin-bottom: 2rem;
    border-color:gray;
}

#container-competitions {
    max-height:75vh;
    overflow-y:scroll;
}

@media screen and (max-device-width:641px) {
    .btn {
        font-size:.95rem;
    }
    #container-competitions {
        margin-top:2rem;
    }
}
