/* You can add global styles to this file, and also import other style files */


@font-face {
    src:url("/assets/fonts/LigueFrance.ttf");
    font-family:"Ligue1";
}

@font-face {
    src:url("/assets/fonts/Champions.ttf");
    font-family:"ChampionsLeague";
}

@font-face {
    src:url("/assets/fonts/PL.ttf");
    font-family:"PremierLeague";
}

@font-face {
    src:url("/assets/fonts/SerieA.otf");
    font-family:"SerieA";
}

.text-italy {
    font-family:"SerieA";
}

.text-england {
    font-family:"PremierLeague" !important;
}

.text-france {
    font-family: "Ligue1";
}

.text-europe {
    font-family:"ChampionsLeague";
}

.center-positioning {
    position:absolute;
    margin:0 auto;
    display:block;
    position:fixed;
}


@import "dependencies/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
