/* You can add global styles to this file, and also import other style files */


@font-face {
    src:url("/assets/fonts/LigueFrance.ttf");
    font-family:"Ligue1";
}

@font-face {
    src:url("/assets/fonts/Champions.ttf");
    font-family:"ChampionsLeague";
}

@font-face {
    src:url("/assets/fonts/PL.ttf");
    font-family:"PremierLeague";
}

@font-face {
    src:url("/assets/fonts/SerieA.otf");
    font-family:"SerieA";
}


.btn {
    font-size:1.3rem;
    font-weight:bold;
    margin-bottom: 2rem;
    border-color:gray;
    

}

.text-italy {
    font-family:"SerieA";
}

.text-england {
    font-family:"PremierLeague" !important;
}

.text-france {
    font-family: "Ligue1";
}

.text-europe {
    font-family:"ChampionsLeague";
}


.btn-brazil {
    background-color:yellow;
    color:green;
}

.btn-england {
    background-color:white;
    color:red;

}

.btn-netherlands {
    background-color:orange;
    color:white;
}

.btn-spain {
    background-color:#fdc200;
    color: #c50b1e;
}

.btn-france {
    background-color:blue;
    color:white;

    letter-spacing:1px;
    
}

.btn-europe {
    background-color:blue;
    color:yellow;
}
.btn-australia {
    background-color:darkblue;
    color:white;
}

.btn-germany {
    background-color:white;
    color:black;
}

.btn-italy {
    background-color:green;
    color:white;

}

.btn-portugal {
    background-color:darkred;
    color:forestgreen;
}

.center-positioning {
    position:absolute;
    margin:0 auto;
    display:block;
    position:fixed;
}


@import "dependencies/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
