<div class="container-fluid">
    <div  class="col-12 col-md-8 offset-md-2">
        <p>
            <p>
                Bonjour,
            </p><br />

            <span>Vous êtes actuellement sur mon application de résultats / classements de football. </span><br />

            <p>Les données de celle-ci sont extraites de l'API <a href="http://api.football-data.org/">football-data</a>, puis sont récupérées et traitées via un backend Node.js dont le repo se trouve <a href="https://github.com/GuiBret/backend-resultats">ici</a>.<br /><br />

            Dans les pages des compétitions récupérées, vous pouvez voir le classement, les résultats et les équipes inscrites dans celles-ci. <br /><br />

            Les compétitions sont accessibles de 2 façons : soit sous la forme d'une liste les affichant toutes, soit sous la forme d'une recherche par pays.


        </p>
        <div class="col-12 col-md-8 offset-md-1 d-flex flex-column flex-md-row justify-content-around" id="btn-container">
            <button class="mat-raised-button btn-home">Voir la liste</button>
            <button class="mat-raised-button btn-home">Voir par pays</button>
        </div>

    </div>

</div>
