#form-competition-info {
    margin-top:2rem;
}

button {
    width:40%;
}

@media only screen 
 and (min-device-width:320px)
 and (max-device-width:480px)
 and (orientation: portrait) {
           
     button {
        width:100%;      
     } 
}